.home-title {
  font-size: 26px;

  font-weight: 700;
  line-height: 42.64px; /* 164% */
  letter-spacing: 0.389px;
}

.home_burger-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

